extends layout

block content
  .main-content
    .container
      h1 Animal Adoption
      .buttons
        a.button(href="/animals")
          i.button-icon.fa.fa-paw
          span View Animals
        a.button(href="/search")
          i.button-icon.fa.fa-search
          span Search
